@font-face {
  font-family: "Google Sans";
  font-style: italic;
  font-weight: 400;
  src: url(//fonts.gstatic.com/s/googlesans/v29/4UairENHsxJlGDuGo1OIlL3L2JB80eWHxVA9_Iou-BqGpjmscm43kO8Q5nYku74vu-A.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* html .goog-inline-block {
  display: inline;
}
*:first-child + html .goog-inline-block {
  display: inline;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}
body,
input,
textarea,
select,
#loading {
  font-family: arial, sans-serif;
}
input,
textarea,
select {
  font-size: 100%;
}
#loading {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #fff;
}
.msg {
  color: #757575;
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 20px;
  text-align: center;
}
#nlpt {
  animation: a-s 0.5s 2.5s 1 forwards;
  background-color: #f1f1f1;
  height: 4px;
  margin: 56px auto 20px;
  opacity: 0;
  overflow: hidden;
  position: relative;
  width: 300px;
}
#nlpt::before {
  animation: a-lb 20s 3s linear forwards;
  background-color: #db4437;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transform: translateX(-300px);
  width: 100%;
}
@keyframes a-lb {
  0% {
    transform: translateX(-300px);
  }
  5% {
    transform: translateX(-240px);
  }
  15% {
    transform: translateX(-30px);
  }
}
@keyframes a-s {
  100% {
    opacity: 1;
  }
}

@keyframes a-es {
  24% {
    animation-timing-function: cubic-bezier(0.8, 0, 0.6, 1);
    transform: rotate(-25deg);
  }
  52% {
    animation-timing-function: cubic-bezier(0.63, 0, 0.2, 1);
    transform: rotate(-42.5deg);
  }
  83% {
    animation-timing-function: cubic-bezier(0.8, 0, 0.84, 1);
    transform: rotate(-42deg);
  }
  100% {
    transform: rotate(-43deg);
  }
}
.la-e {
  animation: 3.6s cubic-bezier(0.03, 0, 0.17, 0.67) kf-e;
  margin: 0 auto;
  position: relative;
}
.la-e,
.la-b {
  height: 165px;
  width: 220px;
}
.la-l,
.la-r,
.la-m,
.la-b,
.la-i > * {
  position: absolute;
}

.la-b {
  border-radius: 22px 22px 15px 15px;
  overflow: hidden;
}
.la-b .la-l,
.la-b .la-r,
.la-b .la-m {
  background: #f1f3f4;
}
.la-b .la-l {
  left: -1px;
}
.la-b .la-r {
  right: -1px;
}
.la-s {
  height: 142px;
  top: 41px;
  width: 51px;
}

.la-i > .la-l,
.la-i > .la-r {
  border-color: #fafbfb;
}
.la-i > .la-m {
  background: #fafbfb;
}

.invfr {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 0;
  height: 0;
  border: 0;
}

.goog-inline-block {
  position: relative;
  display: -moz-inline-box;
  display: inline-block;
}

.jfk-bubble {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border: 1px solid;
  border-color: #bbb #bbb #a8a8a8;
  padding: 16px;
  position: absolute;
  z-index: 1201 !important;
}
.jfk-bubble-closebtn {
  background: url("//ssl.gstatic.com/ui/v1/icons/common/x_8px.png") no-repeat;
  border: 1px solid transparent;
  height: 21px;
  opacity: 0.4;
  outline: 0;
  position: absolute;
  right: 2px;
  top: 2px;
  width: 21px;
}
.jfk-bubble-closebtn:focus {
  border: 1px solid #4d90fe;
  opacity: 0.8;
}
.jfk-bubble-arrow {
  position: absolute;
}
.jfk-bubble-arrow .jfk-bubble-arrowimplbefore,
.jfk-bubble-arrow .jfk-bubble-arrowimplafter {
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}
.jfk-bubble-arrow .jfk-bubble-arrowimplbefore {
  border: 9px solid;
}
.jfk-bubble-arrow .jfk-bubble-arrowimplafter {
  border: 8px solid;
}
.jfk-bubble-arrowdown {
  bottom: 0;
}
.jfk-bubble-arrowup {
  top: -9px;
}
.jfk-bubble-arrowleft {
  left: -9px;
}
.jfk-bubble-arrowright {
  right: 0;
}
.jfk-bubble-arrowdown .jfk-bubble-arrowimplbefore,
.jfk-bubble-arrowup .jfk-bubble-arrowimplbefore {
  border-color: #bbb transparent;
  left: -9px;
}
.jfk-bubble-arrowdown .jfk-bubble-arrowimplbefore {
  border-color: #a8a8a8 transparent;
}
.jfk-bubble-arrowdown .jfk-bubble-arrowimplafter,
.jfk-bubble-arrowup .jfk-bubble-arrowimplafter {
  border-color: #fff transparent;
  left: -8px;
}
.jfk-bubble-arrowdown .jfk-bubble-arrowimplbefore {
  border-bottom-width: 0;
}
.jfk-bubble-arrowdown .jfk-bubble-arrowimplafter {
  border-bottom-width: 0;
}
.jfk-bubble-arrowup .jfk-bubble-arrowimplbefore {
  border-top-width: 0;
}
.jfk-bubble-arrowup .jfk-bubble-arrowimplafter {
  border-top-width: 0;
  top: 1px;
}
.jfk-bubble-arrowleft .jfk-bubble-arrowimplbefore,
.jfk-bubble-arrowright .jfk-bubble-arrowimplbefore {
  border-color: transparent #bbb;
  top: -9px;
}
.jfk-bubble-arrowleft .jfk-bubble-arrowimplafter,
.jfk-bubble-arrowright .jfk-bubble-arrowimplafter {
  border-color: transparent #fff;
  top: -8px;
}
.jfk-bubble-arrowleft .jfk-bubble-arrowimplbefore {
  border-left-width: 0;
}
.jfk-bubble-arrowleft .jfk-bubble-arrowimplafter {
  border-left-width: 0;
  left: 1px;
}
.jfk-bubble-arrowright .jfk-bubble-arrowimplbefore {
  border-right-width: 0;
}
.jfk-bubble-arrowright .jfk-bubble-arrowimplafter {
  border-right-width: 0;
}
.jfk-tooltip {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: visibility 0, opacity 0.13s ease-in;
  -moz-transition: visibility 0, opacity 0.13s ease-in;
  -o-transition: visibility 0, opacity 0.13s ease-in;
  transition: visibility 0, opacity 0.13s ease-in;
  background-color: #2a2a2a;
  border: 1px solid #fff;
  color: #fff;
  cursor: default;
  display: block;
  font-size: 11px;
  font-weight: bold;
  margin-left: -1px;
  opacity: 1;
  padding: 7px 9px;
  position: absolute;
  visibility: visible;
  white-space: pre-wrap;
  word-break: break-all;
  word-break: break-word;
}
.jfk-tooltip-hide {
  -webkit-transition: visibility 0.13s, opacity 0.13s ease-out,
    left 0 linear 0.13s, top 0 linear 0.13s;
  -moz-transition: visibility 0.13s, opacity 0.13s ease-out, left 0 linear 0.13s,
    top 0 linear 0.13s;
  -o-transition: visibility 0.13s, opacity 0.13s ease-out, left 0 linear 0.13s,
    top 0 linear 0.13s;
  transition: visibility 0.13s, opacity 0.13s ease-out, left 0 linear 0.13s,
    top 0 linear 0.13s;
  opacity: 0;
  left: 20px !important;
  top: 20px !important;
  visibility: hidden;
}
.jfk-tooltip-data {
  display: none;
}
.jfk-tooltip-arrow {
  pointer-events: none;
  position: absolute;
}
.jfk-tooltip-arrow .jfk-tooltip-arrowimplbefore,
.jfk-tooltip-arrow .jfk-tooltip-arrowimplafter {
  content: "";
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}
.jfk-tooltip-arrow .jfk-tooltip-arrowimplbefore {
  border: 6px solid;
}
.jfk-tooltip-arrow .jfk-tooltip-arrowimplafter {
  border: 5px solid;
}
.jfk-tooltip-arrowdown {
  bottom: 0;
}
.jfk-tooltip-arrowup {
  top: -6px;
}
.jfk-tooltip-arrowleft {
  left: -6px;
}
.jfk-tooltip-arrowright {
  right: 0;
}
.jfk-tooltip-arrowdown .jfk-tooltip-arrowimplbefore,
.jfk-tooltip-arrowup .jfk-tooltip-arrowimplbefore {
  border-color: #fff transparent;
  left: -6px;
}
.jfk-tooltip-arrowdown .jfk-tooltip-arrowimplafter,
.jfk-tooltip-arrowup .jfk-tooltip-arrowimplafter {
  border-color: #2a2a2a transparent;
  left: -5px;
}
.jfk-tooltip-arrowdown .jfk-tooltip-arrowimplbefore {
  border-bottom-width: 0;
}
.jfk-tooltip-arrowdown .jfk-tooltip-arrowimplafter {
  border-bottom-width: 0;
}
.jfk-tooltip-arrowup .jfk-tooltip-arrowimplbefore {
  border-top-width: 0;
}
.jfk-tooltip-arrowup .jfk-tooltip-arrowimplafter {
  border-top-width: 0;
  top: 1px;
}
.jfk-tooltip-arrowleft .jfk-tooltip-arrowimplbefore,
.jfk-tooltip-arrowright .jfk-tooltip-arrowimplbefore {
  border-color: transparent #fff;
  top: -6px;
}
.jfk-tooltip-arrowleft .jfk-tooltip-arrowimplafter,
.jfk-tooltip-arrowright .jfk-tooltip-arrowimplafter {
  border-color: transparent #2a2a2a;
  top: -5px;
}
.jfk-tooltip-arrowleft .jfk-tooltip-arrowimplbefore {
  border-left-width: 0;
}
.jfk-tooltip-arrowleft .jfk-tooltip-arrowimplafter {
  border-left-width: 0;
  left: 1px;
}
.jfk-tooltip-arrowright .jfk-tooltip-arrowimplbefore {
  border-right-width: 0;
}
.jfk-tooltip-arrowright .jfk-tooltip-arrowimplafter {
  border-right-width: 0;
}
.asor_a {
  margin: 5px 0;
}
.asor_b {
  font: 14px arial, sans-serif;
}
.asor_c {
  font: 12px arial, sans-serif;
  margin: 0 0 0 6px;
  vertical-align: top;
}
.asor_d {
  font: 12px arial, sans-serif;
}
.asor_e {
  color: #777;
  font: 12px arial, sans-serif;
}
.asor_f {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}
.asor_g {
  width: 500px;
}
.asor_h {
  font: 12px arial, sans-serif;
  margin-left: 5px;
  width: 150px;
}
.asor_i {
  font: 12px arial, sans-serif;
  margin-left: 6px;
  width: 55px;
}
.asor_j {
  margin-left: 2px;
}
.asor_k {
  margin-top: 2px;
}
.asor_l {
  width: 460px;
}
.asor_n {
  width: 148px;
}
.asor_o {
  background: url("//ssl.gstatic.com/ui/v1/icons/mail/sprite_black2.png");
  width: 21px;
  height: 16px;
  margin-top: -5px;
}
.asor_p {
  overflow: hidden;
  white-space: nowrap;
}
.asor_q {
  margin-right: 3px;
  border: 1px solid #fff;
}
.asor_q:hover {
  border: 1px solid #4d90fe;
}
.asor_r {
  margin-top: 5px;
}
.asor_s {
  color: #777;
  margin-bottom: 3px;
}
.asor_t {
  margin-top: 9px;
  margin-bottom: 7px;
}
.asor_u {
  font: 14px arial, sans-serif;
  height: 18px;
}
.asor_v {
  margin-left: 9px;
}
.asor_w {
  height: 0;
}
.asor_x {
  color: #777;
}
.asor_y {
  background: url("//ssl.gstatic.com/mail/sprites/general-28e9627ce25f296789298024751a0d39.png") -0px -290px
    no-repeat;
  width: 16px;
  height: 16px;
}
.asor_z {
  margin-top: 10px;
  margin-right: 8px;
  border: 1px solid #fff;
  width: 48px;
  height: 48px;
  background-color: #e6e6e6;
}
.asor_z:hover {
  border: 1px solid #4d90fe;
}
.asor_s0 {
  font-weight: bold;
  padding: 0 2px;
}
.asor_s1 {
  font: 12px arial, sans-serif;
}
td.asor_t0 {
  vertical-align: top;
}
div.asor_0 {
  margin-top: 12px;
}
svg.asor_1 {
  display: block;
  margin: 0 9px 0 12px;
}
.asor_i0 {
  height: 32px;
}
.asor_i1 {
  background-position: 0 0;
  margin: 5px -5px 2px 5px;
}
.asor_i2 {
  background-position: 5px -32px;
  opacity: 0.55;
}
.asor_i3 {
  background-position: 5px -64px;
  opacity: 0.55;
}
.asor_i4 {
  background-position: 5px -96px;
  opacity: 0.55;
}
.asor_i5 {
  background-position: 5px -128px;
  opacity: 0.55;
}

.asor_i6 {
  background-position: 5px -160px;
  opacity: 0.55;
}
.asor {
  background-image: url(https://ssl.gstatic.com/cloudsearch/static/o/d/0016-a3cdcdc31a16b3497ed6ffcdaee4f325/qicons.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 32px;
  height: 32px;
}
@media (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5) {
  .asor {
    background-image: url(https://ssl.gstatic.com/cloudsearch/static/o/d/0016-a3cdcdc31a16b3497ed6ffcdaee4f325/qicons-hdpi.png);
  }
}



@font-face {
  font-family: "Google Sans";
  src: url(//fonts.gstatic.com/s/googlesans/v29/4UairENHsxJlGDuGo1OIlL3L2JB80eWHxVA9_Iou-BqGpjmscm43kO8Q5nYku74vu-A.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

* html .goog-inline-block {
  display: inline;
}

*:first-child + html .goog-inline-block {
  display: inline;
}


@font-face {
  font-family: "Google Sans";
  font-style: italic;
  font-weight: 400;
  src: url(//fonts.gstatic.com/s/googlesans/v29/4UairENHsxJlGDuGo1OIlL3L2JB80eWHxVA9_Iou-BqGpjmscm43kO8Q5nYku74vu-A.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* html .goog-inline-block {
  display: inline;
}

*:first-child + html .goog-inline-block {
  display: inline;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body,
input,
textarea,
select,
#loading {
  font-family: arial, sans-serif;
}

input,
textarea,
select {
  font-size: 100%;
}
#loading {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #fff;
}
.msg {
  color: #757575;
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 20px;
  text-align: center;
}
#nlpt {
  animation: a-s 0.5s 2.5s 1 forwards;
  background-color: #f1f1f1;
  height: 4px;
  margin: 56px auto 20px;
  opacity: 0;
  overflow: hidden;
  position: relative;
  width: 300px;
}
#nlpt::before {
  animation: a-lb 20s 3s linear forwards;
  background-color: #db4437;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transform: translateX(-300px);
  width: 100%;
}
@keyframes a-lb {
  0% {
    transform: translateX(-300px);
  }
  5% {
    transform: translateX(-240px);
  }
  15% {
    transform: translateX(-30px);
  }
}
@keyframes a-s {
  100% {
    opacity: 1;
  }
}

@keyframes a-es {
  24% {
    animation-timing-function: cubic-bezier(0.8, 0, 0.6, 1);
    transform: rotate(-25deg);
  }
  52% {
    animation-timing-function: cubic-bezier(0.63, 0, 0.2, 1);
    transform: rotate(-42.5deg);
  }
  83% {
    animation-timing-function: cubic-bezier(0.8, 0, 0.84, 1);
    transform: rotate(-42deg);
  }
  100% {
    transform: rotate(-43deg);
  }
}
.la-e {
  animation: 3.6s cubic-bezier(0.03, 0, 0.17, 0.67) kf-e;
  margin: 0 auto;
  position: relative;
}
.la-e,
.la-b {
  height: 165px;
  width: 220px;
}
.la-l,
.la-r,
.la-m,
.la-b,
.la-i > * {
  position: absolute;
}

.la-b {
  border-radius: 22px 22px 15px 15px;
  overflow: hidden;
}
.la-b .la-l,
.la-b .la-r,
.la-b .la-m {
  background: #f1f3f4;
}
.la-b .la-l {
  left: -1px;
}
.la-b .la-r {
  right: -1px;
}
.la-s {
  height: 142px;
  top: 41px;
  width: 51px;
}

.la-i > .la-l,
.la-i > .la-r {
  border-color: #fafbfb;
}
.la-i > .la-m {
  background: #fafbfb;
}

.invfr {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 0;
  height: 0;
  border: 0;
}

.goog-inline-block {
  position: relative;
  display: -moz-inline-box;
  display: inline-block;
}

.jfk-bubble {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border: 1px solid;
  border-color: #bbb #bbb #a8a8a8;
  padding: 16px;
  position: absolute;
  z-index: 1201 !important;
}
.jfk-bubble-closebtn {
  background: url("//ssl.gstatic.com/ui/v1/icons/common/x_8px.png") no-repeat;
  border: 1px solid transparent;
  height: 21px;
  opacity: 0.4;
  outline: 0;
  position: absolute;
  right: 2px;
  top: 2px;
  width: 21px;
}
.jfk-bubble-closebtn:focus {
  border: 1px solid #4d90fe;
  opacity: 0.8;
}
.jfk-bubble-arrow {
  position: absolute;
}
.jfk-bubble-arrow .jfk-bubble-arrowimplbefore,
.jfk-bubble-arrow .jfk-bubble-arrowimplafter {
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}
.jfk-bubble-arrow .jfk-bubble-arrowimplbefore {
  border: 9px solid;
}
.jfk-bubble-arrow .jfk-bubble-arrowimplafter {
  border: 8px solid;
}
.jfk-bubble-arrowdown {
  bottom: 0;
}
.jfk-bubble-arrowup {
  top: -9px;
}
.jfk-bubble-arrowleft {
  left: -9px;
}
.jfk-bubble-arrowright {
  right: 0;
}
.jfk-bubble-arrowdown .jfk-bubble-arrowimplbefore,
.jfk-bubble-arrowup .jfk-bubble-arrowimplbefore {
  border-color: #bbb transparent;
  left: -9px;
}
.jfk-bubble-arrowdown .jfk-bubble-arrowimplbefore {
  border-color: #a8a8a8 transparent;
}
.jfk-bubble-arrowdown .jfk-bubble-arrowimplafter,
.jfk-bubble-arrowup .jfk-bubble-arrowimplafter {
  border-color: #fff transparent;
  left: -8px;
}
.jfk-bubble-arrowdown .jfk-bubble-arrowimplbefore {
  border-bottom-width: 0;
}
.jfk-bubble-arrowdown .jfk-bubble-arrowimplafter {
  border-bottom-width: 0;
}
.jfk-bubble-arrowup .jfk-bubble-arrowimplbefore {
  border-top-width: 0;
}
.jfk-bubble-arrowup .jfk-bubble-arrowimplafter {
  border-top-width: 0;
  top: 1px;
}
.jfk-bubble-arrowleft .jfk-bubble-arrowimplbefore,
.jfk-bubble-arrowright .jfk-bubble-arrowimplbefore {
  border-color: transparent #bbb;
  top: -9px;
}
.jfk-bubble-arrowleft .jfk-bubble-arrowimplafter,
.jfk-bubble-arrowright .jfk-bubble-arrowimplafter {
  border-color: transparent #fff;
  top: -8px;
}
.jfk-bubble-arrowleft .jfk-bubble-arrowimplbefore {
  border-left-width: 0;
}
.jfk-bubble-arrowleft .jfk-bubble-arrowimplafter {
  border-left-width: 0;
  left: 1px;
}
.jfk-bubble-arrowright .jfk-bubble-arrowimplbefore {
  border-right-width: 0;
}
.jfk-bubble-arrowright .jfk-bubble-arrowimplafter {
  border-right-width: 0;
}
.jfk-tooltip {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: visibility 0, opacity 0.13s ease-in;
  -moz-transition: visibility 0, opacity 0.13s ease-in;
  -o-transition: visibility 0, opacity 0.13s ease-in;
  transition: visibility 0, opacity 0.13s ease-in;
  background-color: #2a2a2a;
  border: 1px solid #fff;
  color: #fff;
  cursor: default;
  display: block;
  font-size: 11px;
  font-weight: bold;
  margin-left: -1px;
  opacity: 1;
  padding: 7px 9px;
  position: absolute;
  visibility: visible;
  white-space: pre-wrap;
  word-break: break-all;
  word-break: break-word;
}
.jfk-tooltip-hide {
  -webkit-transition: visibility 0.13s, opacity 0.13s ease-out,
    left 0 linear 0.13s, top 0 linear 0.13s;
  -moz-transition: visibility 0.13s, opacity 0.13s ease-out, left 0 linear 0.13s,
    top 0 linear 0.13s;
  -o-transition: visibility 0.13s, opacity 0.13s ease-out, left 0 linear 0.13s,
    top 0 linear 0.13s;
  transition: visibility 0.13s, opacity 0.13s ease-out, left 0 linear 0.13s,
    top 0 linear 0.13s;
  opacity: 0;
  left: 20px !important;
  top: 20px !important;
  visibility: hidden;
}
.jfk-tooltip-data {
  display: none;
}
.jfk-tooltip-arrow {
  pointer-events: none;
  position: absolute;
}
.jfk-tooltip-arrow .jfk-tooltip-arrowimplbefore,
.jfk-tooltip-arrow .jfk-tooltip-arrowimplafter {
  content: "";
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}
.jfk-tooltip-arrow .jfk-tooltip-arrowimplbefore {
  border: 6px solid;
}
.jfk-tooltip-arrow .jfk-tooltip-arrowimplafter {
  border: 5px solid;
}
.jfk-tooltip-arrowdown {
  bottom: 0;
}
.jfk-tooltip-arrowup {
  top: -6px;
}
.jfk-tooltip-arrowleft {
  left: -6px;
}
.jfk-tooltip-arrowright {
  right: 0;
}
.jfk-tooltip-arrowdown .jfk-tooltip-arrowimplbefore,
.jfk-tooltip-arrowup .jfk-tooltip-arrowimplbefore {
  border-color: #fff transparent;
  left: -6px;
}
.jfk-tooltip-arrowdown .jfk-tooltip-arrowimplafter,
.jfk-tooltip-arrowup .jfk-tooltip-arrowimplafter {
  border-color: #2a2a2a transparent;
  left: -5px;
}
.jfk-tooltip-arrowdown .jfk-tooltip-arrowimplbefore {
  border-bottom-width: 0;
}
.jfk-tooltip-arrowdown .jfk-tooltip-arrowimplafter {
  border-bottom-width: 0;
}
.jfk-tooltip-arrowup .jfk-tooltip-arrowimplbefore {
  border-top-width: 0;
}
.jfk-tooltip-arrowup .jfk-tooltip-arrowimplafter {
  border-top-width: 0;
  top: 1px;
}
.jfk-tooltip-arrowleft .jfk-tooltip-arrowimplbefore,
.jfk-tooltip-arrowright .jfk-tooltip-arrowimplbefore {
  border-color: transparent #fff;
  top: -6px;
}
.jfk-tooltip-arrowleft .jfk-tooltip-arrowimplafter,
.jfk-tooltip-arrowright .jfk-tooltip-arrowimplafter {
  border-color: transparent #2a2a2a;
  top: -5px;
}
.jfk-tooltip-arrowleft .jfk-tooltip-arrowimplbefore {
  border-left-width: 0;
}
.jfk-tooltip-arrowleft .jfk-tooltip-arrowimplafter {
  border-left-width: 0;
  left: 1px;
}
.jfk-tooltip-arrowright .jfk-tooltip-arrowimplbefore {
  border-right-width: 0;
}
.jfk-tooltip-arrowright .jfk-tooltip-arrowimplafter {
  border-right-width: 0;
}
.asor_a {
  margin: 5px 0;
}
.asor_b {
  font: 14px arial, sans-serif;
}
.asor_c {
  font: 12px arial, sans-serif;
  margin: 0 0 0 6px;
  vertical-align: top;
}
.asor_d {
  font: 12px arial, sans-serif;
}
.asor_e {
  color: #777;
  font: 12px arial, sans-serif;
}
.asor_f {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}
.asor_g {
  width: 500px;
}
.asor_h {
  font: 12px arial, sans-serif;
  margin-left: 5px;
  width: 150px;
}
.asor_i {
  font: 12px arial, sans-serif;
  margin-left: 6px;
  width: 55px;
}
.asor_j {
  margin-left: 2px;
}
.asor_k {
  margin-top: 2px;
}
.asor_l {
  width: 460px;
}
.asor_n {
  width: 148px;
}
.asor_o {
  background: url("//ssl.gstatic.com/ui/v1/icons/mail/sprite_black2.png");
  width: 21px;
  height: 16px;
  margin-top: -5px;
}
.asor_p {
  overflow: hidden;
  white-space: nowrap;
}
.asor_q {
  margin-right: 3px;
  border: 1px solid #fff;
}
.asor_q:hover {
  border: 1px solid #4d90fe;
}
.asor_r {
  margin-top: 5px;
}
.asor_s {
  color: #777;
  margin-bottom: 3px;
}
.asor_t {
  margin-top: 9px;
  margin-bottom: 7px;
}
.asor_u {
  font: 14px arial, sans-serif;
  height: 18px;
}
.asor_v {
  margin-left: 9px;
}
.asor_w {
  height: 0;
}
.asor_x {
  color: #777;
}
.asor_y {
  background: url("//ssl.gstatic.com/mail/sprites/general-28e9627ce25f296789298024751a0d39.png") -0px -290px
    no-repeat;
  width: 16px;
  height: 16px;
}
.asor_z {
  margin-top: 10px;
  margin-right: 8px;
  border: 1px solid #fff;
  width: 48px;
  height: 48px;
  background-color: #e6e6e6;
}
.asor_z:hover {
  border: 1px solid #4d90fe;
}
.asor_s0 {
  font-weight: bold;
  padding: 0 2px;
}
.asor_s1 {
  font: 12px arial, sans-serif;
}
td.asor_t0 {
  vertical-align: top;
}
div.asor_0 {
  margin-top: 12px;
}
svg.asor_1 {
  display: block;
  margin: 0 9px 0 12px;
}
.asor_i0 {
  height: 32px;
}
.asor_i1 {
  background-position: 0 0;
  margin: 5px -5px 2px 5px;
}
.asor_i2 {
  background-position: 5px -32px;
  opacity: 0.55;
}
.asor_i3 {
  background-position: 5px -64px;
  opacity: 0.55;
}
.asor_i4 {
  background-position: 5px -96px;
  opacity: 0.55;
}
.asor_i5 {
  background-position: 5px -128px;
  opacity: 0.55;
}
.asor_i6 {
  background-position: 5px -160px;
  opacity: 0.55;
}
.asor {
  background-image: url(https://ssl.gstatic.com/cloudsearch/static/o/d/0016-a3cdcdc31a16b3497ed6ffcdaee4f325/qicons.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 32px;
  height: 32px;
}
@media (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5) {
  .asor {
    background-image: url(https://ssl.gstatic.com/cloudsearch/static/o/d/0016-a3cdcdc31a16b3497ed6ffcdaee4f325/qicons-hdpi.png);
  }
}

